
<div class="container">
    <h1>{{ bai6 }}</h1>
    <div class="row">
        <div class="col-md-2">
            Nhập vào dãy số:
        </div>
        <div class="col-md-8">
            <input type="text" placeholder="VD:2,8,9,10" [(ngModel)]="a" style="width:100%;">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-primary" style="float: right;" (click)="Tinh()">Tính</button>
        </div>
    </div>
    <div class="row">
        <span>Kết quả:{{ kq }}</span>

    </div>
</div>